<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Student</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Delete Student</h1>
        <p>Do you really want to delete the student "{{ student.name }}"?</p>
        <form action="/delete/{{ student.enrollment }}" method="POST">
            <button class="button" type="submit">Yes</button>
        </form>
        <a class="button" href="/students">Back</a>
    </div>
</body>
</html>
