Flask==2.3.1  # Flask is a web framework
pymongo==4.3.3  # pymongo is a MongoDB driver that allows us to interact with MongoDB
waitress==2.1.2  # waitress works as a production server for our Flask application